<!DOCTYPE html>
<html>
  <head>
    <title>AngularOnRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-app="allison">
    <nav>
      <% if user_signed_in? %>
        <%= link_to 'Home', root_path %>
        <%= link_to 'Edit account', edit_user_registration_path, target: '_self' %>
        <%= link_to 'Sign out', destroy_user_session_path, method: 'delete', target: '_self' %>
        <% if current_user.is_admin == true %>
           <a href="/posts/new">New Post</a>
           <% end %>
        <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path, target: '_self' %></li>
        <li><%= link_to "Log In", new_user_session_path, target: '_self' %></li>
      <% end %>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <!-- <% if user_signed_in? && current_user.is_admin == true  %>
    <a href="/posts/new">New Post</a>

    <% end %> -->
    <ui-view></ui-view>
  </body>
</html>
